header{
    background-color: $color-blue-header;
}

.search__input{
    height: 50px;
    width: 240px;
    border-radius: 4px 0 0 4px;
    border: none;
    padding: 10px;
}

.search__button{
    height: 50px;
    width: 60px;
    border-radius: 0 4px 4px 0;
    border: none;
}

form{
    display: flex;
}
